* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: $text-font;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color-light;
  color: $color-black;

  @media (prefers-color-scheme: dark) {
    background-color: $bg-color-dark;
    color: $color-white;
  }
}

main {
  font-size: 1rem;

  @include mediaQuery(S) {
    font-size: 1.2rem;
  }
}

.name {
  font-family: $header-font;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: -0.25rem;
  text-transform: lowercase;
  margin: 0.75rem 0;
  text-align: center;

  @include mediaQuery(S) {
    font-size: 2.75em;
  }
}

.wrapper {
  margin: 6em auto;
  text-align: center;

  @include mediaQuery(S) {
    margin: 4em auto;
  }

  @include mediaQuery(M) {
    margin: 5em auto;
  }
}

.profile {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;

  &.slide {
    display: flex;

    @include mediaQuery(S) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 2em;
    }
  }
}

.title.slide__items {
  .slide__item {
    text-align: right;

    @include mediaQuery(S) {
      text-align: center;
    }
  }
}

.company {
  font-weight: bold;
}

a {
  color: $text-color-light;
  text-decoration: none;
  transition: color 0.2s ease;

  &:visited {
    color: $link-color;
  }

  &:focus,
  &:hover {
    color: $link-hover-color;
  }

  @media (prefers-color-scheme: dark) {
    color: $text-color-dark;
  }
}

.links {
  text-align: center;

  li {
    display: inline;
    margin-left: 0.625em;
    padding: 0 1em;
    font-size: 1.3em;

    &:first-child {
      margin-left: 0;
    }
  }

  svg {
    width: 1em;
  }

  a[title="Twitter"] {
    svg {
      fill: #1da1f2;
    }
  }

  a[title="GitHub"] {
    svg {
      fill: $color-black;

      @media (prefers-color-scheme: dark) {
        fill: $color-white;
      }
    }
  }

  a[title="LinkedIn"] {
    svg {
      fill: #2867b2;
    }
  }
}
