$primary-font   : 'Hiragino Sans GB', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$secondary-font : 'Montserrat', 'Helvetica Neue', Arial, sans-serif;

$primary-color    : #000;
$secondary-color  : #999;

$break-small : 375px;
$break-med   : 768px;
$break-large : 1200px;
