@import "variables";
@import "mixins";
@import "animations";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: $primary-font;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  font-size: 1rem;

  @media screen and (max-width: $break-small) {
    main {
      font-size: 1.2rem;
    }
  }
}

.name {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: -0.25rem;
  text-transform: lowercase;
  margin: 0.75rem 0;
  text-align: center;
}

.wrapper {
  margin: 4em auto;
  text-align: center;

  @include mediaQuery(M) {
    margin: 5em auto;
  }

  @include mediaQuery(L) {
    margin: 6em auto;
  }
}

.profile {
  font-size: 1rem;
  line-height: 1.2;

  &.slide {
    display: flex;
  }

  @include mediaQuery(M) {
    font-size: 1rem;
    font-weight: 300;
  }

  @include mediaQuery(L) {
    font-size: 1rem;
  }
}

a {
  color: $secondary-color;
  transition: color 0.2s ease;

  &:hover {
    color: #000;
  }
}

.links {
  text-align: center;

  li {
    display: inline;
    margin-left: 0.625em;
    padding: 0 1em;
    font-size: 1.3em;

    &:first-child {
      margin-left: 0;
    }
  }
}
