@import url("https://fonts.googleapis.com/css?family=Hiragino+Sans+GB|Open+Sans|Montserrat:700&display=swap");
@import "variables";
@import "mixins";
@import "animations";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: $text-font;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  font-size: 1rem;

  @include mediaQuery(S) {
    font-size: 1.2rem;
  }
}

.name {
  font-family: $header-font;
  font-weight: 700;
  font-size: 4em;
  letter-spacing: -0.25rem;
  text-transform: lowercase;
  margin: 0.75rem 0;
  text-align: center;

  @include mediaQuery(S) {
    font-size: 2.75em;
  }
}

.wrapper {
  margin: 6em auto;
  text-align: center;

  @include mediaQuery(S) {
    margin: 4em auto;
  }

  @include mediaQuery(M) {
    margin: 5em auto;
  }
}

.profile {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;

  &.slide {
    display: flex;

    @include mediaQuery(S) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 2em;
    }
  }
}

.title.slide__list {
  .slide__item {
    text-align: right;

    @include mediaQuery(S) {
      text-align: center;
    }
  }
}

a {
  color: $link-color;
  transition: color 0.2s ease;

  &:hover {
    color: $primary-color;
  }
}

.links {
  text-align: center;

  li {
    display: inline;
    margin-left: 0.625em;
    padding: 0 1em;
    font-size: 1.3em;

    &:first-child {
      margin-left: 0;
    }
  }
}
